# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeCache.txt
CMakePresets.json
.vscode
query.json
cmake.*
CMakeConfigureLog.yaml
CmakeSystem.cmake

out/
build/
CmakeFiles/
cmake_install.cmake
Makefile